<header class="header">
    <div class="max-width">
        <div class="logo"><a href="">Sum<span>it.</span></a></div>
        <ul class="menu">
            <li><a routerLink="about" class="menu-btn">About</a></li>
            <li><a routerLink="service" class="menu-btn">Service</a></li>
            <li><a routerLink="skills" class="menu-btn">Skills</a></li>
            <li><a routerLink="contact" class="menu-btn">Contact</a></li>
        </ul>
        <div class="menu-btn">
            <img src="../assets/img/menu-regular-24.png" alt="">
        </div>
    </div>
</header>
