footer{
    background: transparent;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}

footer span a{
    color: crimson;
    text-decoration: none;
}

footer span a:hover{
    text-decoration: underline;
}

footer span img{
    height: 20px;
    width: 20px;
    text-align: center;
    margin: 0 2.5px;
}