<header></header>
<section class="about" id="about">
    <div class="max-width">
        <h2 class="title">About me</h2>
        <div class="about-content">
            <div class="column left">
                <img src="../assets/img/IMG_20240710_121138.jpg" alt="">
            </div>
            <div class="column right">
                <div class="text">I'm sumit kumar and I'm a <span class="typing-2"></span></div>
                <p>Hi, I'm a passsionate programmer and web devloper with expertise in front-end development. With a strong eye for design and a commitment to creating seamless user experiences, I specialize in crafting visually appealing and functional websites. Let's bring your ideas to life together!</p>
                <a href="">Read More</a>
            </div>
        </div>
    </div>
</section>
<footer></footer>