<header>
    <div>
        <a routerLink="home">Home</a>
        <a routerLink="about">About</a>
    </div>
</header>
    <router-outlet></router-outlet>

    <section class="fmcontainer">
        <div class="fcontainer">
            <p class="fstext">You can reserve for yourself and your <span>team</span> <br>
                 working <span>space</span>
                 by taking a subscription for any <br>
                 period and getting a <span>discount</span>for an additional <br>
                 week of coworking.</p>
                <button>Read More</button>
        </div>
    </section>

    <section>
        <div class="main">
            @for(fs of first;track fs){
                <div class="card">
                    <div class="text">
                        <h1 class="h1">{{fs.h1}}</h1>
                        <p class="p">{{fs.cont | uppercase}}</p>
                    </div>
                    <img  [src]="fs.img" alt="">
                </div>

            }
        </div>
    </section>

    <section>
        <div class="nocm">
        @for(cs of second;track cs){
            <div class="nocard">
                <h1>{{cs.no | uppercase}}</h1>
                <h3>{{cs.nop | uppercase}}</h3>
                <p>sample text.click to select the text Element.</p>
            </div>
        }
        </div>
    </section>

<section>
    <div class="im">
        <div class="imtext">
            <div class="itext">
                <h3>Expolre national parks with digital tours,ranger <br>programs,educational opportunities,and more.</h3>
                <p>Lorem ipsum dolor sit amet consectetur</p>
                <p>Elit,sed do eiusmod tempor incididun</p>
                <p>Image from <span>Freepik</span></p>
                <button>BOOK NOW</button>
            </div>
        </div>
        <div class="imtext"><img src="../assets/img/lake-tahoe-panorama-matthew-train.jpg" alt=""></div>
        <div class="imtext"><img src="../assets/img/lake-tahoe-panorama-matthew-train.jpg" alt=""></div>
        <div class="imtext"><img src="../assets/img/lake-tahoe-panorama-matthew-train.jpg" alt=""></div>
    </div>
</section>

<section>
    <div class="test">
        <div class="tested">
            <h3>Testimonials</h3>
            <h1>What our coustumer say</h1>
        </div>
        <div class="testdiv">
            <div class="testimg">
                <div>
                    <img class="imgtest" src="../assets/img/bb9972c2aea659b428df3015c937f32e.jpg" alt="">
                </div>
                <div class="testp">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur similique itaque autem labore saepe, perferendis nisi? Animi magnam, obcaecati fugiat voluptates, quaerat placeat rem voluptatem facere in dolor iusto officia.</p>
                    <h3>Linda Hudson</h3>
                </div>
            </div>
            <div class="testimg">
                <div>
                    <img class="imgtest" src="../assets/img/bb9972c2aea659b428df3015c937f32e.jpg" alt="">
                </div>
                <div class="testp">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur similique itaque autem labore saepe, perferendis nisi? Animi magnam, obcaecati fugiat voluptates, quaerat placeat rem voluptatem facere in dolor iusto officia.</p>
                    <h3>Marta Perry</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div>
        <div>
            <h3>Add more speed to your website</h3>
            <h1>Your success in the industry <br>is our mission</h1>
            <p>sample text.click to select the text element.</p>
            <button>READ MORE</button>
        </div>
    </div>
</section>

<section>
    <div>
        <div>
            <h1>What is going TO Happen?</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, laudantium. A nesciunt explicabo, assumenda quibusdam dolor eos velit obcaecati libero quaerat, praesentium, ab ex dolorem quas ut! Perspiciatis, possimus id.</p>
            <div>
                <div>
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <img src="../assets/img/bb9972c2aea659b428df3015c937f32e.jpg" alt="">
        </div>
    </div>
</section>
